/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwindcss-primeui';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 260px;
    min-width: 260px;
    height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

header {
    flex-shrink: 0;
}

main {
  flex: 1;
  overflow-y: auto;
}