/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import "primeicons/primeicons.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
    height: 100vh;
}

.sidebar {
    width: 200px;
    min-width: 200px;
    height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

header {
    flex-shrink: 0;
}

/* MENU ACCOUNT */
p-tab.p-tab-active {
  color: rgb(147 197 253);
}

p-tablist .p-tablist-active-bar {
  background: rgb(147 197 253);
}